body{
	background: #000;
}

header{
	
}

h1{
	font-family: 'Abril Fatface';
	text-shadow: 1px 1px #ccc;
	color: #fff;
}

#main {
	background: url(../images/curtains.jpeg) no-repeat top center;
	border-radius: 10px;
	margin-top:15px;
	padding-top:10px;
	min-height: 400px;
}

#newMovie {
	display:none;
}

.panel {
	 opacity: .9;
}

#moviesList {

}

/*#moviesList li:nth-child(odd) {
	background: #e5e5e5;
}

#moviesList li:nth-child(even) {
	background: #fff;
}*/

#moviesList .movieContainer {
	margin-top:8px;
	padding:4px;
	display:none;
	border-top: 1px dotted #ccc;
}

#moviesList .movieContainer a {
	font-weight: bold;
	font-size:18px;
}

#moviesList .movieContainer .rating {
	font-family: 'Ultra', serif;
	font-size: 22px;
	border: 2px solid #000;
	margin-top:7px;
	padding:5px;
	text-align:center;
}

#moviesList .movieContainer .year {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#moviesList .movieContainer p {
	margin-top:8px;
}

#searchList {
	display:none;
	height:275px;
	overflow: auto;
}

#searchList .movieContainer {
	margin-top:8px;
	padding:4px;
	display:none;
	border-top: 1px dotted #ccc;
}

#searchList .movieContainer .movieTitle {
	width: 345px;
	float: left;
	font-weight: bold;
	font-size:14px;
}

#searchList .movieContainer .movieImage {
	float:left;
	width: 65px;
	height: 91px;
	margin-right:15px;
	
}

#searchList .movieContainer .movieSynopsis {
	width: 345px;
	float: left;
	margin-top:4px;
}

#searchList .movieContainer button{
	margin-top:4px;	
}

/*#searchList div.movieContainer:nth-child(even) {
	background: #e5e5e5;
}

#searchList div.movieContainer:nth-child(odd) {
	background: #fff;
}*/

.clear{
	clear:both;
}